[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
psutil = "*"
flask = "*"
requests = "*"
contracting = "*"
lamden = "*"
plotly = "*"
pandas = "*"
pycoingecko = "*"
kaleido = "*"
segno = "*"
qrcode-artistic = "*"
pytrends = "*"
image = "*"
watchfiles = "*"

[dev-packages]

[requires]
python_version = "3.9"
