[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
watchgod = "*"
psutil = "*"
flask = "*"
pynacl = "*"
requests = "*"
contracting = "*"

[dev-packages]

[requires]
python_version = "3.9"
